.skeleton-card-header {
  margin-bottom: 10px;
}

.skeleton-card-title {
  margin-bottom: 10px;
}

.skeleton-card-content {
  margin-bottom: 10px;
}

.skeleton-card {
  width: 80%;
}

.skeleton-card-container {
  display: flex;
}

.skeleton-card-image {
  width: 20%;
}
