.book-appointment-container{
    display: flex;
    
    gap: 16px;
}

.book-appointment-section{
    padding: 16px;
    background-color: #ffff;
    border: 1px solid #eee;
    border-radius: 8px;
    margin: 8px;
}