@import "../../theme.scss";

.appointments-container {
    .appointments-title {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;

        .appointments-line {
            flex: 1;
            height: 1px;
            background-color: #ccc;
        }
    }

    table {
        background-color: #fff;
        width: 100%;
        border-collapse: collapse;
        box-shadow: $shadow-sm;

        th,
        td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            text-align: left;

        }
        thead tr{
            background-color: #f5f5f5;
        }
    }
    .appointments-search{
        display: flex;
        gap:10px;
        margin-bottom: 1em;
    }
.appointments-action-buttons{
    display: flex;
    
}
.appointment.status-confirmed {
    color: green;
    font-weight: bold;  
}
.appointment.status-rejected {
    color: red;
    font-weight: bold;  

}
}
